.slidecontainer div {
  width: 33%; /* Width of the outside container */
  float: left;
}

canvas {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
  border: 2px solid black;
}